* {
  margin: 0;
  padding: 0;
}
.main {
  text-decoration: none;
}
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(55, 188, 241);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 1fr;
}
.main-div {
  margin-top: auto;
}
.input {
  width: 450px;
  height: 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  padding: 10px 20px;
}

h1 {
  display: flex;
  width: 300px;
}
.inp-div {
  margin: 0 auto;
  width: 600px;
  height: auto;
  background-color: aqua;
  padding: 20px 20px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
}
.inp-div div {
  display: flex;
  margin: 20px 0;
}

.main-div main {
  height: 100vh;
  background-color: rgb(224, 224, 224);
  height: 200px;
  width: 500px;
  border-radius: 20px;
  margin: auto;
}
.title {
  width: 1fr;
  margin-right: 20px;
  color: black;
}
.stats-div {
  padding-left: -200px;
  justify-content: space-between;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
